In [1]:
from helpers.utils import Predator

import pandas as pd
import numpy as np

In [2]:
target_data = pd.DataFrame(np.random.rand(10, 3))
target_data

          0         1         2
0  0.155764  0.888477  0.170096
1  0.571679  0.915934  0.655627
2  0.384806  0.661753  0.519938
3  0.707733  0.220953  0.380264
4  0.264690  0.968246  0.151344
5  0.405927  0.513698  0.123121
6  0.970654  0.547557  0.173341
7  0.489895  0.981300  0.130994
8  0.530369  0.103302  0.875570
9  0.613138  0.029378  0.886307

In [3]:
predator = Predator(1, 2, 3, 4, "ibrahim", target_data)